/* GERAIS */
body {
   background-color: #000;
}

header {
   padding: 50px;
   background: linear-gra(
   180deg,
   rgba(0, 0, 0, 0.69) 0%,
   rgba(0, 0, 0, 0.7861519607843137)100%,  
   );
}

header img {
   width: 150px;
   height: 200px;
   right:auto;
}
/* LOGIN */
body.bg_filmes{
   background-image: url(../img/Fundo.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

#caixa_login {
   height: 250px;
   padding: 100px;
   margin-top: 150px;
   text-align: center;
}


/* HOME */
.menu_list{
   list-style: none;
   padding-left: 0;
   padding-top: 7px;
}

.menu_list li{
   display: inline-block;
   margin-left: 15px;
}



