body {
   background-color: #000;
}

body.bg_filmes{
   background-image: url(../img/Fundo.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

header {
   padding: 50px;
   background: linear-gradient(
   180deg,
   #000(0, 0, 0, 0.69) 0%,
   #000(0, 0, 0, 0.7861519607843137) 100%,  
   );
}

header img {
   width: 150px;
   height: 200px;
   right:auto;
}

#caixa_login {
   height: 50px;
   padding: 100px;
   margin-top: 150px;
   text-align: center;
}



